<%- include('../partials/meta.ejs') %>
    <h1>edit page -- painting</h1>
    <div class="show-container">
          <form action="/canvases/<%= canvas._id %>/edit?_method=PUT" method="POST">
        <%- include('../partials/form.ejs') %>
            
                <button type="submit" value="Submit">Update Your Artwork!</button>
            </form>
    <div class="canvas-show-container">
        <div class="canvas-show-item">
            <p class="canvas-title"><%= canvas.title %></p>
            <div class="canvas-attribute">Style: <span><%= canvas.style %></span></div>
            <div class="canvas-attribute">Main Color: <span><%= canvas.mainColor %></span></div>
            <div class="canvas-attribute">Dimensions: <span><%= canvas.dimensions %></span></div>
            <div class="canvas-attribute">Description: <span><%= canvas.description %></span></div>
            <div class="canvas-attribute">Medium: <span><%= canvas.medium %></span></div>
        </div>
        
    </div>
    </div>
  
</body>
</html>
</body>
</html>