<%- include('../partials/meta.ejs') %>
    <h1 class="h1 edit-view">You are editing your <span class="canvas-title"><%= canvas.title %></span> canvas</h1>
    <div class="show-container edit"> <div class="canvas-show-container">
        <div class="canvas-show-item">
            <p class="canvas-title"><%= canvas.title %></p>
            <div class="canvas-attribute">Style: <span><%= canvas.style %></span></div>
            <div class="canvas-attribute">Main Color: <span><%= canvas.color %></span></div>
            <div class="canvas-attribute">Dimensions: <span><%= canvas.dimensions %></span></div>
            <div class="canvas-attribute">Description: <span><%= canvas.description %></span></div>
            <div class="canvas-attribute">Medium: <span><%= canvas.medium %></span></div>
            <img class="ai-img" src="<%= canvas.img %>" alt="unique ai generated image">

        </div>
        
    </div>
          <form action="/canvases/<%= canvas._id %>/edit?_method=PUT" method="POST">
      
            <label for="title">Title</label>
            <input id="title" name="title" type="text" value="<%= canvas.title %>" required><br>
            
            <label for="description">Description</label>
            <input id="description" name="description" type="text" value="<%= canvas.description %>"><br>
            
                <button type="submit" value="Submit">Update Your Artwork!</button>
            </form>
   
    </div>
  
</body>
</html>
</body>
</html>