<%- include('../partials/meta.ejs') %>
    <h1 class="galleries-title full">Your Galleries</h1>
    <ul class="canvas-container full">
        <% if (allCanvases.length === 0) { %>
            <div class="empty-gall-create">
                <h2>You do not have any cavnases that fit this category... but you can change that right now!</h2>
         <button> 
            <a class="btn" href="/canvases/new">Create New Canvas</a>
         </button> 
            </div>
        
        <% } %>
        <% allCanvases.forEach(canvas => { %>
            <li class="canvas-item">
                <a class="canvas-link" href="/canvases/<%= canvas._id %>"><div class="canvas-title"><%= canvas.title %></div></a>
                <div class="canvas-attribute">Style: <span><%= canvas.style %></span></div>
                <div class="canvas-attribute">Main Color: <span><%= canvas.color %></span></div>
                <div class="canvas-attribute">Dimensions: <span><%= canvas.dimensions %></span></div>
                <div class="canvas-attribute">Description: <span><%= canvas.description %></span></div>
                <div class="canvas-attribute">Medium: <span><%= canvas.medium %></span></div>
                <img class="ai-img" src="<%= canvas.img %>" alt="unique ai generated image">

            </li>
        <% }) %>
    </ul>
    <aside class="sidebar hide">
        <div class="hamburger-container"><div class="bar"></div></div>
        <span>filter gallery</span>
        <!-- style -->
        <form action="/canvases/filter/style/" method="GET">
           <select id="style" name="style" required>
            <option value="" disabled selected>Filter By Style:</option>
            <option value="no-filter">No Filter</option>
            <option value="abstract">Abstract</option>
            <option value="realism">Realism</option>
            <option value="impressionism">Impressionism</option>
            <option value="expressionism">Expressionism</option>
            <option value="cubism">Cubism</option>
            <option value="surrealism">Surrealism</option>
            <option value="pop-art">Pop Art</option>
            <option value="modernism">Modernism</option>
            <option value="minimalism">Minimalism</option>
            <option value="digital-art">Digital Art</option>
        </select>
        <button>Search</button>
        </form>
<!-- color -->
        <form action="/canvases/filter/color/" method="GET">
        <select id="color" name="color" required >
            <option value="" disabled selected>Filter By Color:</option>
            <option value="no-filter">No Filter</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="pink">Pink</option>
            <option value="brown">Brown</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="gray">Gray</option>
            <option value="cyan">Cyan</option>
            <option value="magenta">Magenta</option>
            <option value="lime">Lime</option>
            <option value="indigo">Indigo</option>
            <option value="gold">Gold</option>
            <option value="silver">Silver</option>
            <option value="beige">Beige</option>
            <option value="turquoise">Turquoise</option>
        </select>
        <button>Search</button>
    </form>
<!-- title -->
    <form action="/canvases/filter/title/" method="GET">
        <select id="titleFilter" name="title" required>
            <option value="" disabled selected>Filter By Title:</option>
            <option value="a-z">A to Z</option>
            <option value="z-a">Z to A</option>
        </select>
        <button>Search</button>
    </form>
    </aside>
</body>
</html>